sudo: false

language: node_js
node_js:
  - 8

before_install:
  - npm install react prop-types codecov.io coveralls
  - npm run test

after_success:
  - cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
